.subheading-container {
  padding: 32px 48px;
}

.sh-top {
  display: flex;
  justify-content: space-between;
}

.sh-top-left {
  display: flex;
}

.sh-label-icon {
  height: 35px;
  width: 35px;
  margin-right: 16px;
  color: #0064d2;
}

.sh-label {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #35405a;
  line-height: 35px;
}

#sh-last-search {
  color: #0064d2;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
}

.sh-bottom {
  padding-top: 32px;
}

.sh-bottom > label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}
