.td-col-data {
  display: flex;
  flex-direction: column;
}

.td-table {
  width: 100%;
  border-top: 1px solid #8e8888;
  border-bottom: 1px solid #8e8888;
}

.td-table td:not(:last-child) {
  border-right: 1px solid #8e8888;
  padding: 10px;
}

.td-table td:first-child {
  padding-left: 48px;
  position: relative;
}

.td-table td:nth-child(2) {
  padding-left: 38px;
}

.td-table td:last-child {
  padding: 10px 48px 10px 10px;
}

#exchange-wrapper {
  border: 1px solid #8e8888;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -15px;
  top: 25px;
  z-index: 1;
  background-color: #fff;
  cursor: pointer;
}

.td-col-value {
  position: relative;
  padding: 12px 0;
}

.custom-select {
  width: 400px;
  display: none;
  position: absolute;
  /* right: 0; */
  left: 0;
  bottom: -180px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #8e8888;
}

.cs-placeholder {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #8e8888;
}

.cs-placeholder > i {
  cursor: pointer;
}

.cs-options-container {
  padding: 8px;
}

.cs-options-container > ul {
  padding-left: 20px;
}

.cs-options-container > ul > li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 20px;
}

.cs-options-container > ul > li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.cs-options-container > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.cs-option-airport-city {
  display: flex;
}

.cs-option-airport-city > div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.cs-airport-code {
  background-color: #8e8888;
  color: #e7e3e3;
  height: 20px;
  line-height: 20px;
  width: 70px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.date {
  position: relative;
  border-style: hidden;
}

.date:focus {
  outline: none;
}

.date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -40px;
  width: 100px;
  background: transparent;
  z-index: 1;
}

.passenger-and-cabin-text {
  position: relative;
}

#passenger-and-cabin {
  width: 350px;
  display: none;
  position: absolute;
  right: 0;
  bottom: -240px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #8e8888;
}

.p-a-c-content {
  display: flex;
}

.p-a-c-content > div {
  width: 50%;
}

.pac-content-title {
  padding: 4px;
  border-bottom: 1px solid #d5d0d0;
}

.pac-row {
  display: flex;
  justify-content: space-between;
  height: 36px;
  padding: 4px 8px;
}

.passenger-age {
  font-size: 12px;
}

.pac-col-right {
  border-left: 1px solid #d5d0d0;
}

.p-a-c-footer {
  padding: 8px;
  text-align: right;
  border-top: 1px solid #d5d0d0;
}
