.ticket-type-container,
.tt-right {
  display: flex;
}

.ticket-type-container {
  justify-content: space-between;
  padding: 18px 48px;
  background-color: #f6f9ff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tt-left {
  font-family: "Open Sans";
  color: #35405a;
}

.tt-left > h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;
  margin: 0;
}

.tt-left > h2 {
  font-weight: 600;
  font-size: 35px;
  margin: 0;
}

.product {
  position: relative;
  margin: 10px;
  height: 86px;
  padding: 6px 3px;
  border: 1px solid #c7d6f5;
  border-radius: 8px;
  width: 86px;
  cursor: pointer;
}

.product > figure {
  margin: 0;
  text-align: center;
}

.product > img {
  height: 57px;
  width: 76px;
}

.product > figure > figcaption {
  font-size: 10px;
  color: #58627a;
  font-family: "Open Sans";
  font-weight: 600;
}

.selected-product {
  border: 2px solid #0064d2;
}

.selected-product::after {
  position: absolute;
  color: #0064d2;
  top: 6px;
  right: 3px;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
