.td-table {
  width: 100%;
  border-top: 1px solid #dee2ee;
  border-bottom: 1px solid #dee2ee;
}

.td-table td:not(:last-child) {
  border-right: 1px solid #dee2ee;
  padding: 10px;
}

.td-table td:first-child {
  padding-left: 48px;
  position: relative;
  border-right: 1px dashed #dee2ee;
}

.td-table td:nth-child(2) {
  padding-left: 38px;
}

.td-table td:last-child {
  padding: 10px 48px 10px 10px;
}

.td-col-data {
  display: flex;
  flex-direction: column;
}

.td-col-data > span,
.td-col-data > label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #8a93a7;
}

.td-col-value, .td-col-value input {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: #35405a;
}

.td-col-value {
  padding: 12px 0;
  position: relative;
}

.td-col-value > i {
  color: #0064d2;
}

input[name="departure-airport"],
input[name="arrival-airport"] {
  border-style: none;
}

input[name="departure-airport"]:focus,
input[name="arrival-airport"]:focus {
  outline: none;
}

#exchange-wrapper {
  border: 1px solid #dee2ee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -15px;
  top: 25px;
  z-index: 1;
  background-color: #fff;
  color: #0064d2;
  cursor: pointer;
}

.custom-select {
  width: 704px;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #8e8888;
}

.cs-placeholder {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #dee2ee;
}

.cs-placeholder > span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #58627a;
}

.cs-placeholder > i {
  cursor: pointer;
}

.cs-options-container {
  padding: 16px;
}

.cs-option-category {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #35405a;
}

.cs-options-container > ul {
  padding-left: 20px;
}

.cs-options-container > ul > li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 20px;
}

.cs-options-container > ul > li {
  display: flex;
  justify-content: space-between;
}

.cs-options-container li {
  list-style-type: none;
}

.cs-options-container li:hover {
  cursor: pointer;
}

.cs-options-container > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.cs-option-airport-city {
  display: flex;
}

.cs-option-airport-city > i {
  color: #0064d2;
}

.cs-option-airport-city > div > b {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  color: #35405a;
}

.cs-option-airport-city > div > span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  color: #35405a;
}

.cs-option-airport-city > div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.cs-airport-code {
  background-color: #eff1f7;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  color: #8a93a7;
  height: 20px;
  line-height: 20px;
  width: 70px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.not-found-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: #222;
}

.not-found-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8a93a7;
}

.date {
  position: relative;
  border-style: hidden;
}

.date:focus {
  outline: none;
}

.date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -40px;
  width: 100px;
  background: transparent;
  z-index: 1;
}

#passenger-and-cabin-text {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#passenger-and-cabin {
  width: 477px;
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 15px #8e8888;
}

#passenger-and-cabin-result {
  white-space: nowrap; 
  width: 183px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.p-a-c-content {
  display: flex;
}

.p-a-c-content > div {
  width: 50%;
}

.p-a-c-content > div > div:not(.pac-content-title) {
  margin: 10px 16px 0 16px;
  padding-bottom: 10px;
  height: 36px;
}

.p-a-c-content > div > div:not(.pac-content-title):not(:last-child) {
  border-bottom: 1px solid #d5d0d0;
}

.pac-content-title {
  position: relative;
  padding: 16px;
  border-bottom: 2px solid #d5d0d0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #58627a;
}

.pac-content-title > i {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.pac-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pac-counter {
  display: flex;
  align-items: center;
}

.pac-row i.fas.fa-minus, .pac-row i.fas.fa-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #c6cbda;
}

.pac-row i.fas.fa-minus {
  color: #c6cbda;
}

.pac-row i.fas.fa-plus {
  color: #0064d2;
  cursor: pointer;
}

.pac-counter > span {
  margin-left: 15px;
  margin-right: 15px;
}

.passenger-age {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  color: #8a93a7;
}

.pac-col-right {
  border-left: 2px solid #d5d0d0;
}

.pac-col-right i.fas.fa-check {
  color: #0064d2;
}

.p-a-c-footer {
  padding: 16px 24px;
  text-align: right;
  border-top: 1px solid #d5d0d0;
}

.p-a-c-footer > button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: #0064d2;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
